
# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Electron
client/dist/
client/dist-electron/
client/out/
